pyramid>=1.9
pyramid_log
-e git+https://github.com/NOAA-ORR-ERD/gevent-socketio.git#egg=gevent-socketio
ujson
Paste
cornice==1.2.1
pyramid-redis-sessions
docutils
awesome-slugify
pygtail
PyGnome
webtest
htmlmin
jsmin
gevent==1.2.2

# Binary Related Packages
