pyramid
pyramid_log
Paste
PasteDeploy
gevent-socketio
ujson



MarkupSafe
WebHelpers2==2.0b5
awesome-slugify
Unidecode==0.04.16
beautifulsoup4==4.3.2
colander==1.0b1
cornice==0.19.0
coverage==3.7.1
docutils==0.12
geojson==1.0.7
mglob==0.4
nose==1.3.3
progressbar==2.2
psutil==2.1.3
py==1.4.23
pygtail==0.5.3
pyandoc==0.0.1
pyramid-redis-sessions==1.0a1
redis==2.9.1
regex==2014.06.28
simplejson==3.6.2
six==1.7.3
transaction==1.4.3
unit-conversion==2.2
wsgiref==0.1.2
zope.sqlalchemy==0.7.5

OilLibrary==0.1
