pyramid>=1.9
pyramid_log
-e git+https://github.com/NOAA-ORR-ERD/gevent-socketio.git#egg=gevent-socketio
ujson
Paste
cornice==1.2.1
pyramid-redis-sessions
docutils
pygtail
webtest
htmlmin
jsmin
gevent==1.2.2

# PyGnome

# webgnomeapi requires pygnome, so we don't need the pygnome requirements
# awesome-slugify
# gdal            # requires system binaries verison may vary based on what's available for system
                # tested with 1.11.2
